
<section class="section--available-actions">
    <h3 class="home"><%= gettext("View: ") %><%= live_redirect gettext("Your groups"), to: "/groups" %></h3>
</section>
<hr>
<section class="section--feedback">
    <div>
        <span><strong><%= gettext("Feedback")%>:</strong> <%= gettext("Tell me about your experience with this app") %>.</span>
        <%= live_redirect gettext("YES!"), to: "/feedbacks/add" %>
    </div>
</section>


